<div class="container__block_content">

    <!-- wrapper -->
    <div class="wrapper">
        <!-- main content -->
        <div class="content">
            <!-- about me -->
            <div class="about_me">
                <h2>Front-End Developer</h2>
                <h1>Taras Raiter</h1>
            </div>
            <!-- my projects -->
            <div class="my_projects">
                <h3>Projects</h3>
                <ol>
                    <li>
                        <div class="container_project">
                            <a
                                href="https://github.com/Taras572/TuoTown.git">https://github.com/Taras572/TuoTown.git</a>
                            <span class="text_title">[ Knive shop TuoTown ]</span>
                        </div>
                    </li>
                    <li>
                        <div class="container_project">
                            <a href="https://github.com/Taras572/Chizay.git">https://github.com/Taras572/Chizay.git</a>
                            <span class="text_title">[ Wine shop Chizay ]</span>
                        </div>
                    </li>
                    <li>
                        <div class="container_project">
                            <a
                                href="https://github.com/Taras572/My-favorite-film">https://github.com/Taras572/My-favorite-film</a>
                            <span class="text_title">[ Faforite movies (list) ]</span>
                        </div>
                    </li>
                </ol>
            </div>
            <!-- work experiance -->
            <div>
                <h3>Work Experience</h3>
                <div>
                    <h4>Video surveillance systems engineer <span class="blue">Pro-Tec Lviv</span></h4>
                    <p>January 2021 - up to now</p>
                </div>
                <div>
                    <h4>Front-End Developer <span class="blue">My pet project;)</span></h4>
                    <p>January 2022 - up to now</p>
                    <ul>
                        <li> Pet project the <span style="border-bottom: 1px solid red;">TuoTown</span>  is a knife store, this site is adaptive for the main desktop, tablet,
                            mobile screen sizes, flex box and grid were used for adaptation.
                            Also helped me a lot Bootstrap components and forms.
                            I use npm Toastr for info/success massege and npm mask for phone number.
                            Firebase is connected to the site.
                            Realtime database and Storage were used to store data and images.
                            Products added to the basket are stored in local storage.
                            <br>
                            You can add new category
                            or product with admin panel and see order. For open admin panel you need authorization admin
                            account ( login: tuotown@gmail.com, pass: 123456 ).
                            <br>
                            I used Firebase Authentication for registration and log in, you can sing in with your google
                            account or remove it. You can restore your password if forget it.
                            For works with forms i used reactive forms.
                        </li>
                        <li>Wine shop <span style="border-bottom: 1px solid red;">Chizay</span> it's project stores information in json-server. Now i'm redoing it in Firebase. </li>
                        <li><span style="border-bottom: 1px solid red;">My favorite film</span> in this pet project i used free movies api and json-server. You can find and add a movie to your list of the best to watch in the evening ;) </li>
                    </ul>
                </div>
            </div>
            <!-- education -->
            <div>
                <h3>Education</h3>

                <h4 class="blue">JUNIOR SPECIALIST`S DIPLOMA</h4>
                <h5>Ivan Franko National Universyty of Lviv</h5>
                <p>From 2014 to June 2017</p>

                <h4 class="blue">BACHELOR`S DIPLOMA</h4>
                <h5>National Forestry University of Lviv</h5>
                <p>From 2017 to June 2019 </p>

                <h4 class="blue">Front-End Developer</h4>
                <h5>Courses Logos IT Academy</h5>
                <p>From 2021 to January 2022</p>
            </div>
        </div>
        <!-- sidebar -->
        <aside class="sidebar">
            <div class="sidebar_img">
                <img src="../../../assets/images/photo_2022-09-03_15-27-13.jpg" alt="my foto">
            </div>
            <div class="person_info">
                <!-- contacts -->
                <div class="contacts">
                    <h3>Contacts</h3>
                    <p>C: <a href="tel:+388888888888">+38 093-712-5102</a></p>
                    <p>E: <a href="mailto:t.goitinskiy@gmail.com">19Zefir@gmail.com</a></p>
                </div>

                <!-- tech skills -->
                <div class="tech_skills">
                    <h3>Tech Skills</h3>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                        <li>TypeScript</li>
                        <li>Angular</li>
                        <li>Angular Material</li>
                        <li>Bootstrap</li>
                        <li>Git</li>
                    </ul>
                </div>

                <!-- soft skils -->
                <div class="soft_skils">
                    <h3>Soft Skills</h3>
                    <ul>
                        <li>Scrum</li>
                        <li>Agile</li>
                        <li>Teamwork</li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</div>