<div class="container__block_content">

    <!-- wrapper -->
    <div class="wrapper">
        <!-- main content -->
        <div class="content">
            <!-- about me -->
            <div class="about_me">
                <h2>Front-End Developer</h2>
                <h1>Taras Raiter</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                    accumsan lacus vel facilisis.</p>
            </div>
            <!-- my projects -->
            <div class="my_projects">
                <h3>Projects</h3>
                <ol>
                    <li>
                        <div class="container_project">
                            <a href="https://github.com/Taras572/Converter">https://github.com/Taras572/Converter</a>
                            <span class="text_title">[ Currency converter ]</span>
                        </div>
                    </li>
                    <li>
                        <div class="container_project">
                            <a
                                href="https://github.com/Taras572/My-favorite-film">https://github.com/Taras572/My-favorite-film</a>
                            <span class="text_title">[ Faforite movies (list) ]</span>
                        </div>
                    </li>
                    <li>
                        <div class="container_project">
                            <a href="https://github.com/Taras572/Chizay.git">https://github.com/Taras572/Chizay.git</a>
                            <span class="text_title">[ Wine shop Chizay ]</span>
                        </div>
                    </li>
                    <li>
                        <div class="container_project">
                            <a
                                href="https://github.com/Taras572/TuoTown.git">https://github.com/Taras572/TuoTown.git</a>
                            <span class="text_title">[ Knive shop TuoTown ]</span>
                        </div>
                    </li>
                </ol>
            </div>
            <!-- work experiance -->
            <div>
                <h3>Work Experience</h3>
                <div>
                    <h4>Video surveillance systems engineer <span class="blue">Pro-Tec Lviv</span></h4>
                    <p>January 2021 - up to now</p>
                </div>

                <div>
                    <h4>Front-End Developer <span class="blue">My pet project;)</span></h4>
                    <p>January 2021 - up to now</p>
                    <ul>
                        <li>about Chizay </li>
                        <li>about tuotown</li>
                        <li>Risus commodo viverra maecenas.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
                    </ul>
                </div>
            </div>
            <!-- education -->
            <div>
                <h3>Education</h3>

                <h4 class="blue">JUNIOR SPECIALIST`S DIPLOMA</h4>
                <h5>Ivan Franko National Universyty of Lviv</h5>
                <p>From 2014 to June 2017</p>

                <h4 class="blue">BACHELOR`S DIPLOMA</h4>
                <h5>National Forestry University of Lviv</h5>
                <p>From 2017 to June 2019 </p>
            </div>
        </div>
        <!-- sidebar -->
        <aside class="sidebar">
            <div class="sidebar_img">
                <img src="../../../assets/images/photo_2022-09-03_15-27-13.jpg" alt="my foto">
            </div>
            <div class="person_info">
                <!-- contacts -->
                <div class="contacts">
                    <h3>Contacts</h3>
                    <p>C: <a href="tel:+388888888888">+38 093-712-5102</a></p>
                    <p>E: <a href="mailto:t.goitinskiy@gmail.com">19Zefir@gmail.com</a></p>
                </div>

                <!-- tech skills -->
                <div class="tech_skills">
                    <h3>Tech Skills</h3>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                        <li>TypeScript</li>
                        <li>Angular</li>
                        <li>Angular Material</li>
                        <li>Bootstrap</li>
                        <li>Git</li>
                    </ul>
                </div>

                <!-- soft skils -->
                <div class="soft_skils">
                    <h3>Soft Skills</h3>
                    <ul>
                        <li>Scrum</li>
                        <li>Agile</li>
                        <li>Teamwork</li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</div>