<footer class="container__back">
    <div class="container__block">
        <div class="block__information">
            <div class="item1">
                <div class="block_item">
                    <img src="../../../assets/images/logo.png" alt="">
                    <h4>легендарні ножі, створюють шедеври</h4>
                </div>
                <p>Компанія «Tuotown» – ексклюзивний представник професійних кухонних ножів, виготовлених
                    найкращими майстрами Східної Азії із застосуванням передового європейського обладнання та сучасних
                    матеріалів.
                    <br><br>
                    Вони відрізняються ідеальним балансом і фантастичною гостротою. Поєднують у собі вікові традиції
                    та новіші розробки. Також пропонуємо широкий асортимент супутніх товарів.
                </p>
            </div>
            <div class="item2">
                <div class="item2__info">
                    <h4>Інформація</h4>
                    <div class="item2__info_menu">
                        <p>Головна</p>
                        <p>Новини</p>
                        <p>Про компанію</p>
                        <p>Контакти</p>
                    </div>
                </div>

                <div class="item2__catalog">
                    <h4>Каталог</h4>
                    <div class="item2__catalog_menu">
                        <p>Кухонні ножі</p>
                        <p>Складні ножі</p>
                        <p>Точилки для ножів</p>
                        <p>Аксесуари</p>
                    </div>
                </div>

                <div class="item2__icon">
                    <h4>Ми в соцмережах</h4>
                    <img src="../../../assets/icon/facebook.svg" alt="">
                    <img src="../../../assets/icon/instagramm.svg" alt="">
                    <img src="../../../assets/icon/youtube.svg" alt="">
                </div>
            </div>
            <div class="item3">
                <h4>Контактна інформація</h4>
                <h3>+7 (981) 120-11-17</h3>
                <p>tuotown@gmail.com</p>
                <p class="item3__time">08:00 — 18:00, щоденно</p>
                <p>Укріїна, Київ, Шевченка 256 В</p>
                <img src="../../../assets/images/image9.png" alt="">
            </div>
        </div>
    </div>

    <div class="container__block_end">
        <div class="container__block block_end_img">
            <h2>TUOTOWN © 2021 Торгова марка TUOTOWN зареєстрована. Усі права захищені та належать
                правовласникам.</h2>
            <div class="end_img">
                <img src="../../../assets/images/MaskGroup.png" alt="">
            </div>
        </div>
    </div>

</footer>