<div class="container__block_content">
    <div class="block__colection_container">

        <div class="text__new_popular">
            <h3>{{category_name}}</h3>
        </div>
        
        <div class="block__colection">
           
            <div class="container__colection_product" *ngFor="let prod of product">
                <div class="colection__btn">
                    <div class="colection__btn_add" >
                        <img src="../../../assets/icon/add.svg" alt="" alt="" (click)="addBasket(prod, $event)">
                        <!-- додаткова кнопка -->
                       <!--  <img src="../../../assets/icon/basket_add.svg" alt="" alt="" [routerLink]="['/basket']" (click)="addBasket(prod, $event)">  -->
                    </div>
                </div>
                <div class="colection_product hover-effect-cover ramka-5" [routerLink]="['/product-details', prod.id]">
                    <img [src]="prod.image" alt="">
                    <div class="effect-to-left">
                        <p>Детальніше</p>
                    </div>
                </div>
                <h3>{{prod.series}}</h3>
                <p>{{prod.price}} грн.</p>
            </div>
           
        </div>
    </div>
</div>