.container__block_content {
    background: #373737;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    min-height: calc(100vh - 469px) ;
}
.block__colection_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0 10px;
    min-height: 50vh;
    
}
@media (max-width: 700px) {
    .container__block_content , .block__colection_container{
        width: 699px;
    }
}