<div class="container__block_content">
    <div class="block__colection_container">
        <div class="btn-group m-4" role="group" aria-label="Basic example">
            <button [routerLink]="[ '/admin', 'products' ]" type="button" class="btn btn-danger">Product</button>
            <button [routerLink]="[ '/admin', 'category' ]" type="button" class="btn btn-danger">Category</button>
            <button [routerLink]="[ '/admin', 'order' ]" type="button" class="btn btn-danger">Order</button>
            <button type="button" class="btn btn-danger">Exit</button>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>