<div class="container__block">
    <div class="container__block_head">
        <h1 class="catalog__title">Дом и Ножи</h1>
        <p class="catalog__text">Эксклюзивные технологии на страже чистоты и уюта в вашем доме</p>
    </div>
</div>

<div class="container__block_colection">
    <div class="block__colection_container">

        <div class="colection colection_img threed" *ngFor="let categ of category; index as i"
            [routerLink]="['/product/', categ.path]">
            <img class="back_ING" [src]="categ.image">
            <div class="colection_text">
                <p class="catalog_name">{{categ.name}}</p>
                <img src="../../../assets/icon/Line17.svg" alt="">
            </div>
        </div>


    </div>
</div>